<section>
  <table id="orderTable" class="order-table">
    <thead>
      <tr>
        <th class="table-header">Дата</th>
        <th class="table-header">Назва товару</th>
        <th class="table-header">Кількість</th>
        <th class="table-header">Тип пакування</th>
        <th class="table-header">Ім'я</th>
        <th class="table-header">Прізвище</th>

        <th class="table-header">Тип доставки</th>
        <th class="table-header">Адреса доставки</th>
        <th class="table-header">Ціна</th>
      </tr>
    </thead>
    <tbody>
      <!-- Тут будуть дані -->
    </tbody>
  </table>
</section>
